doctype html
html
  head
    title Node Authentication
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    // load bootstrap css
    style.
      body          { padding-top:80px;}
      .jumbotron h1 { font-size: 30px;}
  body
    .container
      .jumbotron.text-center
          p Hello      
            =user
          p Your id number is:  
            =userId 
